body {
  margin: 0 auto;
  max-width: 960px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: Arial, Helvetica, sans-serif;

  color: #111111;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202020;
}

h1 {
  font-size: 1.75em;
}

a {
  color: #c51e3a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a:not(:first-child) {
  padding-left: 1em;
}

/* Grid */
body {
  display: grid;
  row-gap: 0.5em;
  grid-template-columns: auto auto;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "header nav"
    "content content";
}

header {
  grid-area: header;
  justify-self: left;
  align-self: end;
}

nav {
  grid-area: nav;
  justify-self: left;
  align-self: end;
}

nav a {
  text-align: right;
}

article {
  grid-area: content;
  border-top: 2px solid #c51e3a;
}

/* Cards */
.business-card {
  border: solid 2px #c51e3a;
  border-top: 0;

  padding: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  display: inline-block;
  margin-top: 0;
}

.interests {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

.interests > .square-box {
  border: solid 1px #111111;
  aspect-ratio: 1/ 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
}

span.interest {
  font-weight: thin;
  font-size: 1.1em;
  /* text-transform: uppercase; */
  padding-bottom: 0.25em;
}

.simulation-view {
  position: absolute;
}

.interest-wrapper {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
}

.interest-wrapper > .image-wrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hoverable-border:hover {
  border: solid 1px #c51e3a;
}

.hoverable-border,
.black-border {
  border: solid 1px #111111;
}

/* Responsiveness */
@media screen and (max-width: 430px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: minmax(40px, auto) minmax(30px, auto) auto auto;
    grid-template-areas:
      "header"
      "nav"
      "content";
  }
  header,
  nav {
    text-align: center;
    justify-self: center;
  }
  nav a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 540px) {
  .interests {
    grid-template-columns: repeat(1, 1fr);
  }
}
